[Desktop Entry]
Encoding=UTF-8
Name=Start IPython Notebook
Comment=Start the IPython Notebook service
Exec=lxterminal --command "/opt/gvl/scripts/cmdlineutils/startup_ipython.sh"
Icon=utilities-terminal-symbolic
Terminal=false
Type=Application