---
# file: cloud.yml
#   Use this file to setup components required for the GVL

# Before running roles inside this playbook, copy
# ``inventory/builders.sample`` as ``inventory/builders`` and edit it
# to provide info about your instance(s)

# To build the base image, use this role via the following command (make sure
# you provided an instance IP in ``inventory/builders`` for
# ``gvl-image-hosts`` host group):
#
#   % ansible-playbook -i inventory/builders cloud.yml --tags "gvl-image"
#     --extra-vars vnc_password=<make_up_a_pwd> [--extra-vars cleanup=yes]
#
- hosts: gvl-image-hosts
  sudo: yes
  gather_facts: no
  pre_tasks:
    - name: Install python2 (required for Supervisor)
      raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal)
      register: output
      changed_when: output.stdout != ""
    - name: Gather facts after py2
      setup:
  roles:
    - gvl.ansible.image
  tags: gvl-image

# To build the gvl filesystem, use this role via the following command (make sure
# you provided an instance IP in ``inventory/builders`` for
# ``gvl-filesystem-hosts`` host group):
#
#   % ansible-playbook -i inventory/builders cloud.yml --tags "gvl-fs"
#
- hosts: gvl-filesystem-hosts
  sudo: yes
  sudo_user: galaxy
  roles:
     - gvl.ansible.filesystem
  tags: gvl-fs

# To build the gvl microfilesystem, use this role via the following command (make sure
# you provided an instance IP in ``inventory/builders`` for
# ``gvl-filesystem-hosts`` host group):
#
#   % ansible-playbook -i inventory/builders cloud.yml --tags "mgvl-fs"
- hosts: gvl-filesystem-hosts
  sudo: yes
  sudo_user: galaxy
  roles:
     - microgvl.ansible.filesystem
  tags: mgvl-fs
