---
# file: playbook.yml
#   Use this file to setup components required for the GVL

# Before running roles inside this playbook, copy
# ``inventory/builders.sample`` as ``inventory/builders`` and edit it
# to provide info about your instance(s)

# To build the base image, use this role via the following command (make sure
# you provided an instance IP in ``inventory/builders`` for
# ``gvl-image-hosts`` host group):
#
#   % ansible-playbook -i inventory/builders playbook.yml --tags "gvl-image"
#     --extra-vars vnc_password=<make_up_a_pwd> [--extra-vars cleanup=yes]
#
- hosts: gvl-image-hosts
  become: yes
  roles:
    - gvl.ansible.image
  tags: gvl-image

# To build the gvl filesystem, use this role via the following command (make sure
# you provided an instance IP in ``inventory/builders`` for
# ``gvl-filesystem-hosts`` host group):
#
#   % ansible-playbook -i inventory/builders playbook.yml --tags "gvl-fs"
#
- hosts: gvl-filesystem-hosts
  become: yes
  roles:
     - gvl.ansible.filesystem
  tags: gvl-fs
