description "gvldash"

start on (filesystem)
stop on runlevel [016]

respawn
setuid nobody
setgid nogroup
chdir {{ gvl_dash_path }}/gvldash
env DJANGO_CONFIGURATION="Production"
export DJANGO_CONFIGURATION

exec {{ gvl_dash_path }}/.venv/bin/gunicorn -w 2 wsgi:application