description "gvlinit"

# the following line ensures that this script starts before gvldash
start on (starting gvldash)

script
	# use run-parts to execute all scripts in directory
	# from: http://www.cyberciti.biz/tips/running-all-unix-linux-scripts-in-directory.html
	run-parts {{ gvl_script_path }}/start.d/
end script