description "gvlinit"

# the following line ensures that this script starts before gvldash
start on (starting gvldash)

chdir {{ gvl_runtime_path }}

script
	mkdir {{ gvl_runtime_path }}
	chown ubuntu:ubuntu {{ gvl_runtime_path }}
	# use run-parts to execute all scripts in directory
	# from: http://www.cyberciti.biz/tips/running-all-unix-linux-scripts-in-directory.html
	run-parts {{ gvl_script_path }}/start.d/
end script